<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
     <li class="homeTab easeOut"><a class="easeOut" href="/">Home</a></li>
     <li class="aboutTab easeOut"><a class="easeOut" href="/about">About</a></li>
   </ul>
</nav>